.app-wrapper {
    width:480px;
    min-height:580px;
}
.navbar {
    margin-bottom:0px;
}
.navbar-header {
    text-align:center;
    background-color:#5f6473; 
}
.navbar-header .mk-navbar-brand {
    height:48px;
    line-height:48px;
    font-size:20px;
    color:white;
    float:none;
}
.navbar-header .mk-navbar-brand:hover,
.navbar-header .mk-navbar-brand:focus{
    color:white;
}
.navbar-header .mk-navbar-toggle {
    float:left;
    margin-left:8px;
    border:none;
}
.navbar-header .mk-navbar-toggle:hover,
.navbar-header .mk-navbar-toggle:focus {
    background-color: transparent;
}
.navbar-header .mk-navbar-toggle:hover .icon-bar,
.navbar-header .mk-navbar-toggle:focus .icon-bar {
    background-color: #ddd;
}
.navbar-header .mk-navbar-toggle .icon-bar {
    background-color: white;
}
.mk-logout {
    float:right;
    font-size:18px;
    margin:10px 8px 5px 15px;
    padding:4px 10px;
    color:white;
}
.mk-logout:focus,
.mk-logout:hover {
    color:#ddd;
}
.source-ul img {
    width:20px;
    height:20px;
    border-radius:5px;
    vertical-align:bottom;
    margin-right:10px;
}
.mk-media {
    margin-top:0;
    padding: 10px 20px 10px 10px;
    border-bottom:1px solid #ddd;
}
.important-media {
    background-color: #FEE5E4;
}
.media-left {
    padding-right:15px;
}
.mk-media .media-object-wrapper {
    width:50px;
    height:50px;
    border-radius:25px;
    overflow:hidden;
    display:inline-block;
    margin-top:5px;
}
.mk-media .media-object {
    width:50px;
}
.media-heading {
    line-height:26px;
    margin:0;
}
.media-datetime {
    font-size:14px;
    line-height:26px;
    margin:0 0 5px 0;
    color:#888;
}
.media-url {
    font-size:14px;
    line-height:1;
    margin-bottom:0px;
    margin-top:10px;
}

.mk-form {
    padding:20px;
}
.form-control:focus {
    border-color: #38c58b;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mk-btn {
    background-color:#5be5ac;
    color:white;
}
.mk-btn:hover,
.mk-btn:focus {
    color:white;
    background-color:#38c58b
}

::-webkit-scrollbar{
width:3px;
height:3px;
background-color:#fff;
}
::-webkit-scrollbar:hover{
background-color:#eee;
}
::-webkit-scrollbar-thumb{
min-height:3px;
min-width:3px;
-webkit-border-radius:20px;
::-webkit-border-radius:1px;
background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover{
min-height:3px;
min-width:3px;
-webkit-border-radius:20px;
background-color: #ccc;
}
::-webkit-scrollbar-thumb:active{
-webkit-border-radius:20px;
background-color: #ccc;
} 
